---
layout: page
subtitle: "Um pouco do meu conhecimento tecnológico"
---
<div class="mui-row">
  {% assign posts=paginator.posts | where:"lang", page.lang | where:"type", posts %}
  {% for post in posts %}
  
  <div class="mui-col-md-12"> 
    <div class="blog-card mui-z3">
      <div class="blog-post-preview">
        <a href="{{ post.url | prepend: site.baseurl }}">
          <div class="blog-card-title">{{ post.title }}</div>
          
          {% if post.subtitle %}
          
          <div class="blog-card-subtitle">{{ post.subtitle }}</div>
          
          {% endif %}
        </a>
      </div>
      {% include card-share.html %}
      <div class="bottom-card">
        <p class="post-meta">
          <i class="fa fa-clock-o"></i>
          {% assign m = post.date | date: "%-m" %}
          {{ post.date | date: "%-d" }}
          {% case m %}
          {% when '1' %}Janeiro
          {% when '2' %}Fevereiro
          {% when '3' %}Março
          {% when '4' %}Abril
          {% when '5' %}Maio
          {% when '6' %}Junho
          {% when '7' %}Julho
          {% when '8' %}Agosto
          {% when '9' %}Setembro
          {% when '10' %}Outubro
          {% when '11' %}Novembro
          {% when '12' %}Dezembro
          {% endcase %}
          {{ post.date | date: "%Y" }}
          &nbsp;
          <i class="fa fa-comment"></i>
          <span class="disqus-comment-count" data-disqus-identifier="{{ post.disqus-identifier }}"></span>
        </p>
      </div>

    </div>
  </div>
  {% endfor %}
</div>
<!-- Pager -->
{% if paginator.total_pages > 1 %}
<ul class="pager">
  {% if paginator.previous_page %}
  <li class="previous">
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Posts Recentes</a>
  </li>
  {% endif %}
  {% if paginator.next_page %}
  <li class="next">
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Posts Antigos &rarr;</a>
  </li>
  {% endif %}
</ul>
{% endif %}
