---
layout: default
---

<!-- Page Header -->
<header class="header-image">    
        <div class="mui-container" >
            <div class="mui-align-top mui-text-right">
            <a class="" href="{{ site.baseurl }}/">                
                <span class="fa-stack fa-2x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-home fa-stack-1x fa-inverse"></i>
                            </span>
            </a>            
            <a href="{{ '/sobre' | prepend: site.baseurl }}">
                        <span class="fa-stack fa-2x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-info fa-stack-1x fa-inverse"></i>
                            </span>
                    </a>
            </div>            
            <div class="mui-align-middle mui-text-left circle">
            <div class="circle-photo circle-photo-title">
                                </div>
            </div>
            <div class="title mui-align-middle mui-text-center">
                
                <div class="title-text">
                    <div class="title-text-description">{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</div>                                    
                    {% if page.subtitle %}
                    <div class="subtitle-text">
                        <p>{{ page.subtitle }}</p>
                    {% endif %}
                    <span class="meta">
                        {% assign m = page.date | date: "%-m" %}
                        {{ page.date | date: "%-d" }}
                        {% case m %}
                          {% when '1' %}Janeiro
                          {% when '2' %}Fevereiro
                          {% when '3' %}Março
                          {% when '4' %}Abril
                          {% when '5' %}Maio
                          {% when '6' %}Junho
                          {% when '7' %}Julho
                          {% when '8' %}Agosto
                          {% when '9' %}Setembro
                          {% when '10' %}Outubro
                          {% when '11' %}Novembro
                          {% when '12' %}Dezembro
                        {% endcase %}
                        {{ page.date | date: "%Y" }}
                    </span>
                    </div>
                </div>
                            
            </div>
        </div>    
</header>

<!-- Main Content -->
<div class="mui-container container-margin">
	<div>
		<div >
			{{ content }}
		</div>
	</div>
</div>
